
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans dark:bg-[#0f0f1a] dark:text-gray-100;
  }
}

@layer utilities {
  @keyframes glow {
    0% {
      transform: rotate(0deg) translateX(0);
    }
    100% {
      transform: rotate(360deg) translateX(0);
    }
  }

  .animate-glow {
    animation: glow 20s linear infinite;
  }

  .bg-gradient-radial {
    background-image: radial-gradient(circle at center, var(--tw-gradient-stops));
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
